@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add custom styles for the about page */
.prose-invert {
    --tw-prose-invert-body: theme('colors.gray.300');
    --tw-prose-invert-headings: theme('colors.cyan.400');
    --tw-prose-invert-links: theme('colors.cyan.400');
}
